body {
	background-color: #000;
	padding:10px;
	color: #fff;
}

/*navigation*/

.elit {
	height:50px;
	width: 50px;
	background-color: #fff;
}

.ipsum {
	height:50px;
	width: 50px;
	background-color: #fff;

}

ul.nav {
	max-width:1276px;
	left: 4.5%;
	width:92%;
	height:30px;
	margin: 0 auto;
	list-style:none;
	padding: 7px;
	background-color:#000;

}
ul.nav li{
	float:left;
}

ul.nav li a {
	display: block;
	margin: 0px 5px;
	width:150px;
}

ul.nav li a.elit {
	 width: 150px; background-position: 0 0;
	 height: 30px;
	 background-image:url(); 
	 text-indent: -9999px;
 }

ul.nav li a.elit:hover, ul.nav li a.elit:focus {
	 background-position: 0 -30px;
 }
 
ul.nav li a.ipsum {
	 width: 150px; background-position: 0 0;
	 height: 30px;
	 background-image:url(); 
	 text-indent: -9999px;
 }

ul.nav li a.ipsum:hover, ul.nav li a.ipsum:focus {
	 background-position: 0 -30px;
 }

.nav {
	position:fixed;
	z-index: 10;
}

.fixed {
	position:fixed;
}

#menu {
	float:left;
	margin-top:110px;
	background-color:#fff;
	width:1080;
	height:30px;
	margin-left:15px;
}

/*content*/

#logo {
	background-color:#000;
	height:75px;
	max-width:1088px;
	margin: 0 auto;
	width: 99.8%;
	border:solid #fff 3px;
	color:#fff;
}

#container {
	max-width:1076px;
	margin: 0 auto;
	width:91.9%;
	/*max-height:1960px;
	height:300%;*/
	max-height:1700px;
	padding-bottom: 63%;
	/*background-image: url(../images/blueframe.jpg);*/
	background-color:#92DFFF;
	border:7px solid black;
	background-size:100%;
	background-repeat: no-repeat;
	position:relative;
}

#content {
	width:92%;
	max-height:960px;
	height:100%;
	background-color:#C6F600;
	margin-left:3.5%;
	position:relative;
}

#background{
	height:2000px;
	max-width:1131;
	height:990px;
	width:100%;
	position:absolute;
	/*background:url(../images/mtnclear3.jpg) no-repeat;*/
	background-size:100%;
}
#backgroundvid{
	width:100%;
	background-size: 100%;
}

#frame {
		height:96%;
		max-width:1000px;
		width:96.5%;
		background-image:url('');
		background-repeat:no-repeat;
		background-position: 0 0px;
		position:absolute;
		margin-top:-7px;
		transition: all 1.0s linear;
		transform-style: preserve-3d;
		perspective:100;
		border: 21px solid #000;
		/*background-image: url(../images/frame2.png);*/
		background-size:100%;
		opacity:1;
		z-index: 3;
}

#pagetwo-header {
	height:83px;
	width:99.3%;
	background-color:black;
	border: 3px solid #fff;
	position: absolute;
	top:87.2%;
	opacity:0;
}

#page1 {
		max-height:957px;
		height:100%;
		max-width:1000px;
		width:100%;
		background-image:url('');
		background-repeat: no-repeat;
		background-position: 0 0px;
		position:relative;
		background-color:#00f8fc;
		opacity:.8;
		background:url(../images/mountainsix.jpg) no-repeat;
		background-size:100%;
		z-index: 1;
}

#textboxone {
		height:329px;
		width:100%;
		background-image:url('');
		background-repeat:no-repeat;
		background-position: 0 0px;
		position:absolute;
		top:0%;
		transition: all .5s linear;
		transform-style: preserve-3d;
		perspective:100;
		background-image: url(../images/textbox.jpg);
		background-size:100%;
		opacity:.7;
}

#page3 {
		width:96.5%;
		padding-bottom: 69%;
		background-image:url('');
		background-repeat:no-repeat;
		background-position: 0 0px;
		position:absolute;
		background-color: #fff; 
		border-left: 21px solid #000;
		border-right: 21px solid #000;
		border-bottom: 21px solid #000;
		margin-top:0px;
		transition: all 1.0s linear;
		transform-style: preserve-3d;
		perspective:100;
		/*background-image: url(../images/frameborder.jpg);*/
		background-size:100%;
		opacity:1;
}

#vid-box {
	height:110px;
	max-width: 1070px;
	width:105%;
	background-color:#92DFFF;
	border-top: 3px solid #000;
	border-bottom: 3px solid #000;
	position: absolute;
	top:105%;
}

#textbox {
		height:315px;
		max-width:1000px;
		width:104%;
		background-image:url('');
		background-repeat:no-repeat;
		background-position: 0 0px;
		position:absolute;
		top:123%;
		transition: all .5s linear;
		transform-style: preserve-3d;
		perspective:100;
		background-image: url(../images/textbox.jpg);
		background-size:100%;
		opacity:.7;
		margin-bottom: 20px;
}

#page3initial {
		max-width:662px;
		width:70.6%;
		padding-bottom: 38%;
		overflow: hidden;
		background-repeat:no-repeat;
		background-position: 0 0px;
		position:absolute;
		top:120%;
		transition: all 1.5s linear;
		transform-style: preserve-3d;
		perspective:100;
		background-color:#fff;
		background-image: url(../images/mtn3.jpg);
		background-size:100%;
		opacity:.2;
		margin-bottom:10px;
}

/*#textboxoverlay {
		height:315px;
		max-width:1000px;
		width:100%;
		background-image:url('');
		background-repeat:no-repeat;
		background-position: 0 0px;
		position:absolute;
		top:123%;
		transition: all .5s linear;
		transform-style: preserve-3d;
		perspective:100;
		background-image: url(../images/textbox.jpg);
		background-size:100%;
		opacity:.2;
}*/

#textboxtwo {
	padding-bottom: 17.2%;
	width:100.3%;
	background-color:#fff;
	position: relative;
	margin-top:56%;
	/*top:167%;*/
	/*left:3%;*/
	border: 2px solid #000;
}

#credits {
	background-color: #666;
	height: 50px;
	width: 1080px;
	position: absolute;
	background-position: 0px 0px;
	top: 237%;
}








/*#page1overlay {
		height:360px;
		max-width:1000px;
		background-image:url('');
		background-repeat: no-repeat;
		background-position: 0 30px;
		position: absolute;
		top:30%;
		background-color:red;
		opacity:1;
}*/

#page2 {
		height:20px;
		width:1000px;
		/*background-image:url('');
		background-repeat:no-repeat;
		background-position: 0 0px;
		position:absolute;
		margin-top:0px;
		transition: all 10.0s linear;
		transform-style: preserve-3d;
		perspective:100;
		background-color:blue;
		opacity:.4;*/
}
@media (max-width:1210px) {
	#container {
		padding-bottom: 66%;
	}
	#page3initial {
		padding-bottom: 38.5%
	}

}
@media (max-width:1172px) {
	#container {
		padding-bottom: 68%;
	}
	#page3initial {
		padding-bottom: 38.95%
	}
	#textboxtwo {
		width:101%;
		/*top:;*/
	}
}
@media (max-width:1155px) {
	#container {
		padding-bottom: 72%;
	}
	#textboxtwo {
		/*top: 166%;*/
	}
	#page3initial {
		padding-bottom: 39.95%
	}
}
@media (max-width:1185px) {
	#textboxtwo {
		/*top: 164%;*/
	}
	#page3 {
		padding-bottom: 79%;
	}
}	
@media (max-width:1069px) {
	#container {
		padding-bottom: 74%;
	}
	#content {
		margin-left: 3%;
	}
	#vid-box {
		width:105.5%;
	}
	#textboxtwo {
		/*top: 158%;*/
		margin-top: 56%;
		padding-bottom: 24.2%;
	}
	#page3 {
		padding-bottom: 85%;
	}
}
@media (max-width:954px) {
	#container {
		padding-bottom: 79%;
	}
	#textboxtwo {
		/*top:153%;*/
		margin-top: 58%;
	}
	#page3 {
		padding-bottom: 89%;
	}
}
@media (max-width:883px) {
	#content {
		margin-left: 2.5%;
	}
	#page3 {
		padding-bottom: 91%;
	}
	#container {
		padding-bottom: 82%;
	}
	#vid-box {
		width:107.2%;
	}
	#textboxtwo {
		padding-bottom: 24.2%;
		margin-top: 60%;
		/*top:154%;*/
	}
}
@media (max-width:845px) {
	#page3 {
		padding-bottom: 97%;
	}
	#container {
		padding-bottom: 88%;
	}
	#textboxtwo {/*
		padding-bottom: 34.2%;*/
		left:1%;
		margin-top: 60%;
		padding-bottom: 30.2%;
		/*top:151%;*/
	}
}

@media (max-width: 767px) {

	#pagetwo-header {
		top: 86.7%;
	}
	#vid-box {
		top:103%;
	}
	#textbox {
		height:80%;
	}
	#textboxtwo {
		margin-top: 64%;

	/*
		left:1.2%;
		top: 148%;*/
	}
	#frame {
		height: 97%;
	}
	#content {
		margin-left:1.5%;
	}


}

@media (max-width: 767px) {
	#textboxtwo {
		left:1.2%;
		/*top: 145%;*/
	}
}
/*@media (max-width: 675px) {
	#textboxtwo {
		left:1.2%;
		top: 141%;
		padding-bottom: 26.2%;
		margin-top: 65%
	}*/
}
@media (max-device-width: 675px) {
	#textboxtwo {
		left:1.2%;
		/*top: 195%;*/
		padding-bottom: 26.2%;
		margin-top: 65%
	}
	#page3initial {
		top:146%;
	}
	#textbox {
		display: none;
	}
	#textboxtwo {
		/*top:215%;*/
		width:107.8%;
		left:0%;/*
		padding-bottom: 36.2%;*/
	}
	#vid-box {
		opacity: 1;
	}
}
/*@media (max-width: 575px) {
	#textboxtwo {
		left:1.2%;
		top: 141%;
		padding-bottom: 20.2%;
	}
}*/
@media (max-width: 575px) {
	#textboxtwo {
		left: 0%;
		/*top: 135%;*/
		padding-bottom: 25.2%;
		margin-top: 60%;
	}
	#frame {
		height: 73%;
	}
	#page1 {
		max-height: 569px;
		width: 106%;
	}
	#vid-box {
		top: 116%;
	}/*
	#page3 {
		border-left:21px solid #fff;
		border-right:21px solid #fff;
	}*/
	#textbox {
		top:106%;
		width: 106%;
		opacity:.2;
	}
	/*#textboxtwo {
		top:113%;
	}*/
	#page3initial {
		top: 78%;
	}
	#pagetwo-header {
		top: 105.2%;
		width:110.5%;
		left: -8.5%;
		opacity: 1;
	}
	#page3 {
		left: 0%;
		width:91.5%;
	}
}


@media (max-device-width: 480px) and (orientation:portrait) {
	#textboxtwo {
		left:1.2%;
		/*top: 135%;*/
		padding-bottom: 10.2%;
	}
	#frame {
		height: 54.5%;
	}
	#page1 {
		max-height: 569px;
	}
	#vid-box {
		top: 62%;
	}
	#textbox {
		top:75.6%;
		width:106%;
	}
	#textboxtwo {
		left:0;
		/*top:93.5%;*/
		width:107%;
		padding-bottom: 50.2%;
	}
	#page3initial {
		top: 74.5%;
	}
	#pagetwo-header {
		top: 83.5%;
		left: -.5%;
		opacity: 1;
	}
	#page3 {
		left: -.1%;
		padding-bottom: 135%;
	}
	#container {
		padding-bottom: 115%;
	}
}


@media (max-width: 480px) and (orientation: landscape) {
	#textboxtwo {
		left:1.2%;
		/*top: 135%;*/
		padding-bottom: 10.2%;
	}
	#frame {
		height: 54.5%;
	}
	#page1 {
		max-height: 569px;
	}
	#vid-box {
		top: 62%;
	}
	#textbox {
		top:75.6%;
		width:106%;
	}
	#textboxtwo {
		left:0;
		/*top:93.5%;*/
		width:107%;
		padding-bottom: 50.2%;
	}
	#page3initial {
		top: 74.5%;
	}
	#pagetwo-header {
		top: 83.5%;
		left: -.5%;
		opacity: 1;
	}
	#page3 {
		left: -.1%;
		padding-bottom: 135%;
	}
	#container {
		padding-bottom: 43%;
	}
}



