@font-face {
    font-family: '../font/gunplayregular';
    src: url('../font/gunplay_rg-webfont.eot');
    src: url('../font/gunplay_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/gunplay_rg-webfont.woff') format('woff'),
         url('../font/gunplay_rg-webfont.ttf') format('truetype'),
         url('../font/gunplay_rg-webfont.svg#gunplayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	background-color: #000;
	padding:10px;
	color: #fff;
	font-family: '../font/gunplayregular';
	font-size: 100%;
}

p {
	color: #000;
	width:80%;
	margin: 0 auto;
	padding:5px;
}

#credit {
	color:#fff;
	float:right;
	width:25%;
	font-size:75%;
	padding:15px;
}

#one {
	margin-top:25px;
}

/*navigation*/

.elit {
	height:50px;
	width: 50px;
	background-color: #fff;
}

.ipsum {
	height:50px;
	width: 50px;
	background-color: #fff;

}

ul.nav {
	max-width:1276px;
	left: 4.5%;
	width:92%;
	height:30px;
	margin: 0 auto;
	list-style:none;
	padding: 7px;
	background-color:#000;
	color: #000;

}
ul.nav li{
	float:left;
	
}

ul.nav li a {
	display: block;
	margin: 0px 5px;
	width:150px;
	line-height: 2.1;
	text-align: center;
	text-decoration: none;
	font-family: '../font/gunplayregular';
	color:#000;
}

ul.nav li a.elit {
	 width: 150px; background-position: 0 0;
	 height: 30px;
	 background-image:url(); 
	
 }

ul.nav li a.elit:hover, ul.nav li a.elit:focus {
	 background-position: 0 -30px;
 }
 
ul.nav li a.ipsum {
	 width: 150px; background-position: 0 0;
	 height: 30px;
	 background-image:url(); 
 }

ul.nav li a.ipsum:hover, ul.nav li a.ipsum:focus {
	 background-position: 0 -30px;
 }

.nav {
	position:fixed;
	z-index: 10;
}

.fixed {
	position:fixed;
}

#menu {
	float:left;
	margin-top:110px;
	background-color:#fff;
	width:1080;
	height:30px;
	margin-left:15px;
}

/*content*/

#logo {
	height:75px;
	max-width:1088px;
	margin: 0 auto;
	width: 99.8%;
	border:solid #fff 3px;
	color:#fff;
}

#myvideo {
	height:67px;
	width:88%;
	margin-left:35px;
	padding-top: 6px;
	background-size:100%;
	
}

#container {
	max-width:1076px;
	margin: 0 auto;
	width:91.9%;
	/*max-height:1960px;
	height:300%;*/
	max-height:1700px;
	padding-bottom: 74%;
	/*background-image: url(../images/blueframe.jpg);*/
	/*background-color:#92DFFF;*/
	border:7px solid black;
	background-size:100%;
	background-repeat: no-repeat;
	position:relative;
}

#content {
	width:92%;
	max-height:960px;
	height:100%;
	/*background-color:#C6F600;*/
	margin-left:3.5%;
	position:relative;
}



#background{
	height:2000px;
	max-width:1131;
	height:990px;
	width:100%;
	position:absolute;
	/*background:url(../images/mtnclear3.jpg) no-repeat;*/
	background-size:100%;
}
#backgroundvid{
	width:100%;
	background-size: 100%;
	padding-bottom: 75%;
}

#frame {
		height:96%;
		max-width:1000px;
		width:96.5%;
		background-image:url('');
		background-repeat:no-repeat;
		background-position: 0 0px;
		position:absolute;
		margin-top:-7px;
		transition: all 1.0s linear;
		transform-style: preserve-3d;
		perspective:100;
		/*border: 21px solid #000;*/
		/*background-image: url(../images/frame2.png);*/
		background-size:100%;
		opacity:1;
		z-index: 3;
}
#birds {
	width:100%;
	/*padding: 3px;*/
	background-size: 100%;
	/*padding-top: 5px;*/
	margin: 0 auto;
}

#pagetwo-header {
	padding-bottom: 1%;
	width:101.5%;
	background-color:black;
	border: 3px solid #fff;
	position: absolute;
	border: 10px solid #000;
	top:89.2%;
	opacity:0;
}

#page1 {
		max-height:957px;
		height:100%;
		max-width:1000px;
		width:100%;
		background-image:url('');
		background-repeat: no-repeat;
		background-position: 0 0px;
		position:relative;
		background-color:#00f8fc;
		opacity:.8;
		background:url(../images/mountainseven.jpg) no-repeat;
		background-size:100%;
		z-index: 1;
}

#textboxone {
		height:329px;
		width:100%;
		background-image:url('');
		background-repeat:no-repeat;
		background-position: 0 0px;
		position:absolute;
		top:2%;
		transition: all .5s linear;
		transform-style: preserve-3d;
		perspective:100;
		background-image: url(../images/textbox.jpg);
		background-size:100%;
		opacity:.7;
}

#page3 {
		width:100%;
		padding-bottom: 76%;
		background-image:url('');
		background-repeat:no-repeat;
		background-position: 0 0px;
		position:absolute;
		background-color: #fff; 
		/*border-left: 21px solid #000;
		border-right: 21px solid #000;
		border-bottom: 21px solid #000;*/
		margin-top:0px;
		transition: all 1.0s linear;
		transform-style: preserve-3d;
		perspective:100;
		/*background-image: url(../images/frameborder.jpg);*/
		background-size:100%;
		opacity:1;
}

#vid-box {
	height:110px;
	max-width: 1070px;
	width:100%;
	background-color:#92DFFF;
	border-top: 3px solid #000;
	border-bottom: 3px solid #000;
	position: absolute;
	top:105%;
	background-size:100%;
}

#bluebird {
	height: 110px;
	width:55%;
	left: 38.4%;
	background-size:100%;
	margin-left:-206px;
}

#textbox {
		height:315px;
		max-width:1000px;
		width:104%;
		background-image:url('');
		background-repeat:no-repeat;
		background-position: 0 0px;
		position:absolute;
		top:123%;
		transition: all .5s linear;
		transform-style: preserve-3d;
		perspective:100;
		background-image: url(../images/textbox.jpg);
		background-size:100%;
		opacity:.7;
		margin-bottom: 20px;
		color: #000;
}

#page3initial {
		max-width:662px;
		width:70.6%;
		padding-bottom: 38%;
		overflow: hidden;
		background-repeat:no-repeat;
		background-position: 0 0px;
		position:absolute;
		top:120%;
		transition: all 1.5s linear;
		transform-style: preserve-3d;
		perspective:100;
		background-color:#fff;
		background-image: url(../images/mtn3.jpg);
		background-size:100%;
		opacity:.2;
		margin-bottom:10px;
}

/*#textboxoverlay {
		height:315px;
		max-width:1000px;
		width:100%;
		background-image:url('');
		background-repeat:no-repeat;
		background-position: 0 0px;
		position:absolute;
		top:123%;
		transition: all .5s linear;
		transform-style: preserve-3d;
		perspective:100;
		background-image: url(../images/textbox.jpg);
		background-size:100%;
		opacity:.2;
}*/

.textboxtwo {
	padding-bottom: 4.2%;
	width:103.6%;
	background-color:#fff;
	position: relative;
	margin-top:53%;
	/*left: -.35%;*/
	/*top:167%;*/
	/*left:3%;*/
	/*border: 2px solid #000;*/
}

#lowertextbox {
	left:0%;
	width:100%;
	top:1%;
}

.text-wrapper {
	width:100%;
	padding-top: 10px;
}

#credits {
	background-color: #666;
	height: 50px;
	width: 1080px;
	position: absolute;
	background-position: 0px 0px;
	top: 237%;
}








/*#page1overlay {
		height:360px;
		max-width:1000px;
		background-image:url('');
		background-repeat: no-repeat;
		background-position: 0 30px;
		position: absolute;
		top:30%;
		background-color:red;
		opacity:1;
}*/

#page2 {
		height:20px;
		width:1000px;
		/*background-image:url('');
		background-repeat:no-repeat;
		background-position: 0 0px;
		position:absolute;
		margin-top:0px;
		transition: all 10.0s linear;
		transform-style: preserve-3d;
		perspective:100;
		background-color:blue;
		opacity:.4;*/
}
@media (max-width:1210px) {
	#container {
		padding-bottom: 74%;
	}
	#page3initial {
		padding-bottom: 38.5%
	}
	#bluebird {
		margin-left:-206px;
	}

}
@media (max-width:1172px) {
	#container {
		padding-bottom: 72%;
	}
	#page3initial {
		padding-bottom: 38.95%
	}
	.textboxtwo {
	/*	width:101%;*/
		/*top:;*/
	}
}
@media (max-width:1155px) {
	#container {
		padding-bottom: 72%;
	}
	.textboxtwo {
		/*top: 166%;*/
	}
	#page3initial {
		padding-bottom: 39.95%
	}
}
@media (max-width:1185px) {
	.textboxtwo {
		/*top: 164%;*/
		/*left: -.7%;*/
	}
	#page3 {
		padding-bottom: 79%;
	}
}	
@media (max-width:1177px) {
	#lowertextbox {
		top:2%;
	}
}	
@media (max-width:1046px) {
	#lowertextbox {
		/*left:2%;*/
	}
}	
@media (max-width:1032px) {
	#bluebird {
		left:-34%;
	}
}	
@media (max-width:1069px) {
	#container {
		padding-bottom: 78%;
	}
	#content {
		margin-left: 3%;
	}
	#vid-box {
		width:105.5%;
	}
	.textboxtwo {
		/*top: 158%;*/
		margin-top: 56%;
		padding-bottom: 8.2%;
	}
	#page3 {
		padding-bottom: 85%;
	}
}
@media (max-width:954px) {
	#container {
		padding-bottom: 79%;
	}
	.textboxtwo {
		/*top:153%;*/
		margin-top: 58%;
		/*left: -.7%;*/
	}
	#lowertextbox {
		/*left: .4%;*/
	}
	#page3 {
		padding-bottom: 89%;
	}
}
@media (max-width:883px) {
	#content {
		margin-left: 2.5%;
	}
	#page3 {
		padding-bottom: 91%;
	}
	#container {
		padding-bottom: 82%;
	}
	#vid-box {
		width:107.2%;
	}
	.textboxtwo {
		padding-bottom: 5.2%;
		margin-top: 60%;
		/*top:154%;*/
	}
}
@media (max-width:845px) {
	#page3 {
		padding-bottom: 97%;
	}
	#container {
		padding-bottom: 88%;
	}
	.textboxtwo {/*
		padding-bottom: 34.2%;*/
		/*left:-.9%;*/
		margin-top: 60%;
		padding-bottom: 7%;
		/*top:151%;*/
	}
	p {
		font-size: 80%
	}
	#pagetwo-header {
		top: 86.7%;
		left:-.5%;
	}
}
@media (max-width:811px) {
	#bluebird {
		left:-30%;
	}
}	
@media (max-width: 767px) {

	#pagetwo-header {
		top: 86.7%;
		left:-.5%;
	}
	#vid-box {
		top:103%;
	}
	#textbox {
		height:80%;
	}
	.textboxtwo {
		margin-top: 64%;

	/*
		left:1.2%;
		top: 148%;*/
	}
	#frame {
		height: 97%;
	}
	#bluebird {
		left:-31.7%;
	}
	#content {
		margin-left:1.5%;
	}


}

@media (max-width: 767px) {
	.textboxtwo {
		/*left:-.8%;*/
		/*top: 145%;*/
	}
	#lowertextbox {
		/*left:.7%;*/
	}
}

@media (max-width: 758px) {
	#bluebird {
		left:-28.0%;
	}
}
/*@media (max-width: 675px) {
	.textboxtwo {
		left:1.2%;
		top: 141%;
		padding-bottom: 26.2%;
		margin-top: 65%
	}*/
@media (max-width: 710px) {
	#container {
		padding-bottom: 95%
	}
	#page3 {
		padding-bottom: 101%
	}
}

@media (max-device-width: 675px) {
	.textboxtwo {
		/*left:1.2%;*/
		/*top: 195%;*/
		padding-bottom: 26.2%;
		margin-top: 65%
	}
	#page3initial {
		top:146%;
	}
	#textbox {
		display: none;
	}
	.textboxtwo {
		/*top:215%;*/
		width:107.8%;
		left:0%;/*
		padding-bottom: 36.2%;*/
	}
	#vid-box {
		opacity: 1;
	}
	#bluebird {
		left:-25.0%;
	}
}
@media (max-device-width: 675px) and (orientation:landscape) {
	.textboxtwo {
		/*left:1.2%;*/
		/*top: 195%;*/
		padding-bottom: 6.2%;
		margin-top: 65%;
		width:100%;
		width:99%;
		/*left:.45%;*/
	}
	#container {
		padding-bottom: 155%
	}
	#page3initial {
		top:305%;
		width:90%;
	}
	#page3 {
		padding-bottom: 170%
	}
	#textbox {
		display: none;
	}
	#lowertextbox {
		width:97%;
		left:2.55%;
		margin-top:130%;
	}

	#vid-box {
		opacity: 1;
		display:none;
	}
	#logo {
		display:none;
	}
	#bluebird {
		left:-25.0%;
	}
	#pagetwo-header {
		display:none;
	}
	#backgroundvid {
		display:none;
	}
}
@media (max-width: 675px) {
	.textboxtwo {
		/*left:1.2%;*/
		/*top: 195%;*/
		padding-bottom: 5.2%;
		margin-top: 65%
	}
	#page3initial {
		top:120%;
	}
	#textbox {
		display: none;
	}
	.textboxtwo {
		/*top:215%;*/
		/*width:107.8%;
		left:-4.3%;*//*
		padding-bottom: 36.2%;*/
	}
	#lowertextbox {
		/*left:2.1%;*/
		width:100%;
	}
	#vid-box {
		opacity: 1;
	}
	#bluebird {
		left:-25.0%;
	}
}
@media (max-width: 644px) {
	#container {
		padding-bottom: 100%
	}
	#page3 {
		padding-bottom: 106%
	}
}
/*@media (max-width: 575px) {
	.textboxtwo {
		left:1.2%;
		top: 141%;
		padding-bottom: 20.2%;
	}
}*/
@media (max-width: 575px) {
	.textboxtwo {
		/*left: -4.5%;*/
		/*top: 135%;*/
		padding-bottom: 6.2%;
		margin-top: 60%;
	}
	#lowertextbox {
		left:.4%;
	}
	#frame {
		height: 73%;
	}
	#page1 {
		max-height: 569px;
		width: 106%;
	}
	#page3 {
		padding-bottom: 137%
	}
	#vid-box {
		top: 147%;
		left:34%;
	}/*
	#page3 {
		border-left:21px solid #fff;
		border-right:21px solid #fff;
	}*/
	#textbox {
		top:106%;
		width: 106%;
		opacity:.2;
	}
	/*.textboxtwo {
		top:113%;
	}*/
	#page3initial {
		top: 86%;
	}
	#pagetwo-header {
		top: 105.2%;
		width:110.5%;
		left: -8.5%;
		opacity: 1;
	}
	#page3 {
		left: 0%;
		width:91.5%;
	}
	#backgroundvid{
		display: none;
	}
}

@media (max-width:462px) {
	#vid-box {
		top: 76%;
	}
	#page3initial {
		top:91%;
	}
	#lowertextbox {
		margin-top: 65%;
	}
	#page3 {
		padding-bottom: 129%
	}
}


@media (max-device-width: 480px) and (orientation:portrait) {
	.textboxtwo {
		/*left:1.2%;*/
		/*top: 135%;*/
		padding-bottom: 10.2%;
		width:103.7%;
		/*left:3%;*/
	}
	#uppertextbox {
		top: 15%;
	}
	#frame {
		height: 54.5%;
	}
	#page1 {
		max-height: 569px;
	}
	#vid-box {
		top: 105%;
		display:none;
	}
	#textbox {
		top:75.6%;
		width:106%;
	}
	.textboxtwo {
		/*left:-3.7%;*/
		/*top:93.5%;*/
		/*width:107%;*/
		padding-bottom: 6.2%;
	}
	#page3initial {
		top: 118%;
	}
	#pagetwo-header {
		top: 173.5%;
		left: -.5%;
		opacity: 1;
		width:120%;
		left:-10%;
		background-color:#92DFFF;
		display: none;
	}
	#page3 {
		left: -.1%;
		padding-bottom: 161%;
	}
	#container {
		padding-bottom: 115%;
	}
	#backgroundvid{
		display: none;
	}
	#lowertextbox {
		top:17.2%;
		left:.7%;
		width:99.9%;
	}
}


@media (max-width: 480px) and (orientation: landscape) {
	.textboxtwo {
		/*left:1.2%;*/
		/*top: 135%;*/
		padding-bottom: 6.2%;
	}
	#frame {
		height: 54.5%;
	}
	#page1 {
		max-height: 569px;
	}
	#vid-box {
		top: 62%;
	}
	#textbox {
		top:75.6%;
		width:106%;
	}
	.textboxtwo {
		/*margin-left: -5%;*/
		/*top:93.5%;*/
		width:100%;
		padding-bottom: 6.2%;
	}
	#page3initial {
		top: 74.5%;
	}
	#pagetwo-header {
		top: 83.5%;
		left: -.5%;
		opacity: 1;
		background-color:#92DFFF;
	}
	#page3 {
		left: -.1%;
		padding-bottom: 135%;
	}
	#container {
		padding-bottom: 43%;
	}/*
	#backgroundvid{
		display: none;
	}*/
	/*#background {
		background:url(../images/mtnclear3.jpg) no-repeat;
	}*/
}



